<ion-view>
  <ion-nav-title>{{ dashTitle }}</ion-nav-title>

  <div class="tabs">
    <a class="tab-item" ng-click="search({}, 'Recommended Videos')">
      Recommended
    </a>
    <a class="tab-item" ng-click="search({'sort': 'newest'}, 'Newest Videos')">
      Newest
    </a>
    <a class="tab-item" ng-click="search({'live': true}, 'Live Streams')">
      Live
    </a>      
  </div>

  <ion-content class="padding">

    <div class="list card" ng-repeat="video in videos" ng-click="goVideoDetail(video)">
      <div class="item item-divider">{{ video.title }}</div>
      <div class="item item-body">
        <img ng-src="{{ video.thumbnails.after || video.thumbnails.before }}" style="width: 64px; height: 64px">
      </div>
    </div>
    <br>

  </ion-content>

</ion-view>
