<ion-view>
  <ion-nav-title>{{ dashTitle }}</ion-nav-title>


  <div class="tabs">
    <!-- XXX when tab is selected, we need to add selected_tab css class to it -->
    <a class="tab-item" ng-click="search({'sort': 'newest'}, 'Newest Videos')">
      Newest
    </a>
    <a class="tab-item" ng-click="search({'live': true}, 'Live Streams')">
      Live
    </a>     
    <a class="tab-item" ng-click="search({}, 'Recommended Videos')">
      Favorites
    </a>
  </div>

  <ion-content class="padding">

    <!--div class="list card" ng-repeat="video in videos" ng-click="goVideoDetail(video)">
      <div class="item item-divider">{{ video.title }}</div>
      <div class="item item-body">
        <img ng-src="{{ video.thumbnails.after || video.thumbnails.before }}" style="width: 64px; height: 64px">
      </div>
    </div>
    <br-->

    <div class="list card" ng-repeat="video in videos" ng-click="goVideoDetail(video)">
      <div class="item item-body video-item">
        <div class="list">
          <div class="leading">
            <a class="item item-thumbnail-left large" href="#">
              <img ng-src="{{ video.thumbnails.after || video.thumbnails.before }}" class="photo_margin">
              <h2 class="username">@{{ video.uploadUser.username }}</h2>
              <span ng-show="video.state=='live'" class="live-label">live</span>
              <p class="title">{{ video.title }}</p>
              <p class="tag">
                <span ng-repeat="tag in video.tags">#{{ tag.text }} </span>
              </p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <br>


  </ion-content>

</ion-view>
