/* Empty. Add your own CSS if you like */

.go-to-bottom {
    bottom: 10px;
    width: 100%;
    position: absolute;
    top: 490px;
}

.go-to-bottom-2 {
    bottom: 10px;
    width: 100%;
    position: absolute;
    top: 390px;
}

.opacity {
    opacity: 0.3;
}

.larger-font {
    letter-spacing: -1px;
    font-size: 1.7em;
    font-weight: 600;
    text-align: center;
    line-height: 30px;
    margin:10px;
    color: deeppink;
}

ion-tabs.tabs-color-active-positive .tab-item.tab-item-active {
    color: deeppink;
}

.center {
    text-align: center;
}

.lg-icon {
    margin: 20px 0 -5px 0;
    font-size: 100px;
    color: deeppink;
}

.lg-icon-2 {
    margin: 100px 0 -5px 0;
    font-size: 100px;
    color: deeppink;
}
    
.fixed-width {
    max-width: 210px; 
}

.rounded-input-tags {
    border-radius: 100px !important;
    border: 1px solid gray !important;
    color: gray  !important;
    background: white !important;
}

.item-input .tags {
    outline: none !important;
    border: 0px !important;
    box-shadow: none !important;
}

.button-pink {
    color: white;
    background-color: deeppink;
    border: 0px;
}

/*elisa part*/
/*For the "Watch" tab*/

body {
    font-family: futura, sans-serif;
}

body.record {
    background-color: pink;
}

.float_left {
    float: left;
}
.leading {
    line-height: 65%;
}
.item-body .username {
    font-size: 22px;
    color: rgb(255, 51, 204);
}
.item-body .title {
    font-size: 18px;
    color: rgb(173, 51, 173);
}
.item-body .tag {
    font-size: 14px;
    color: rgb(204, 102, 255);
}
.video-item {
  padding: 0;
}
.selected_tab {
    font-size: 20px;
    color: rgb(255, 51, 153) !important;
}


/* For the video expanded view */

.vid-height {
    height: 36vh;
}

div.comment {
    width: 96%;
    padding: 7px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 2%;
    margin-right: 2%;
    background-color: rgba(255, 180, 218, 0.9);
    border-radius: 5px;
    font-size: 18px;
    color: rgb(117, 25, 117);
}


div.comment_bar {
    margin-top: 10px;
}

div.add_comment {
    float: left;
    width: 83%;
    margin: auto 2% auto 2%;
    background-color: #676767;
    font-size: 16px;
    color: white;
    border-bottom: 1px solid white;
}
.comment_box {
    width: 70%;
    border: none;
    background-color: #676767;
    color: white;
    margin-left: 8px;
    margin-top: 4px;

}
.comment_submit {
    margin-top: 3px;
    margin-bottom: 4px;
    margin-right: 4px;
    float: right;
    background-color: #FFBBDD;
    border: none;
}

span.comment-username {
    color: blue;
}

div.heart {
    right: 4%;
    top: 445px;
    color: deeppink;
    font-size: 30px;
    background-color: transparent;
    border: none;
}

/* Determines the length of tags at the bottom of the page*/

.long {
    max-width: 450px;
}

