/* Empty. Add your own CSS if you like */

/*For the "Watch" tab*/

body {
    font-family: futura, sans-serif;
}
.float_left {
    float: left;
}
.leading {
    line-height: 65%;
}
.item-body .username {
    font-size: 22px;
    color: rgb(255, 51, 204);
}
.item-body .title {
    font-size: 18px;
    color: rgb(173, 51, 173);
}
.item-body .tag {
    font-size: 14px;
    color: rgb(204, 102, 255);
}
.video-item {
  padding: 0;
}
.selected_tab {
    font-size: 20px;
    color: rgb(255, 51, 153) !important;
}


/* For the video expanded view */

.vid-height {
    height: 76vh;
}
div.comment {
    position: absolute;
    bottom: 50px;
    width: 96%;
    padding: 7px;
    margin: auto 2% auto 2%;
    background-color: rgba(255, 180, 218, 0.9);
    border-radius: 5px;
    font-size: 18px;
    color: rgb(117, 25, 117);
}
div.add_comment {
    position: absolute;
    top: 445px;
    width: 83%;
    margin: auto 2% auto 2%;
    background-color: rgba(0, 0, 0, 0.6);
    font-size: 16px;
    color: white;
    border-bottom: 1px solid white;
}
p.add_comment {
    margin: 3px auto auto 10px;
}

div.heart {
    position: absolute;
    right: 4%;
    top: 445px;
    color: deeppink;
    font-size: 30px;
}

/* Determines the length of tags at the bottom of the page*/

.long {
    max-width: 450px;
}


