<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view>
  <ion-nav-title><span style="color: blue;">LIVE</span> {{ video.title }}</ion-nav-title>
  <ion-content class="padding">
    <div class="live-video-box">
    	<web-rtc-live 
    		recording-id="video.recordingId"
          start-play-fn='liveVideo.startPlay',
          stop-play-fn='liveVideo.stopPlay',
          playing-state='liveVideo.playingState',
    	></web-rtc-live>
    </div>

  <!--
	<button ng-show="!liveVideo.playingState" class="button" ng-click="liveVideo.startPlay()">
		<span>Start Playing</span>
	</button>
	<button ng-show="liveVideo.playingState" class="button" ng-click="liveVideo.stopPlay()">
		<span>Stop Playing</span>
	</button>
  -->

    <div class="comment_bar">
      <div class="add_comment">
        <input ng-model="newComment.text" class="comment_box" placeholder="Leave a comment here"></input>
        <button ng-click="submitComment()" class="comment_submit">Submit</button>
      </div>
      <div class="heart">
        <i class="ion-heart"></i>
      </div>
    </div>

    <div class="comment" ng-repeat="comment in videoComments">
      <p class="add_comment"><span class="comment-username">@{{ comment.user.username }}:</span> {{ comment.text }}</p>
    </div>

  </ion-content>
</ion-view>
