<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view>
  <ion-nav-title>{{ video.title }}</ion-nav-title>
  <ion-content class="padding">
    <!--
    <img ng-src="{{ video.thumbnails.before }}" style="width: 64px; height: 64px">
    <img ng-src="{{ video.thumbnails.after }}" style="width: 64px; height: 64px">
    -->
    <videogular vg-player-ready="onPlayerReady($API)" vg-theme="videoTheme">
      <vg-media class="vid-height" vg-src="videoSources"></vg-media>

      <!-- design branch changes --> 

      <!--
      <vg-controls>
        <vg-play-pause-button></vg-play-pause-button>
        <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
        <vg-scrub-bar>
          <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
        </vg-scrub-bar>
        <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
        <vg-volume>
          <vg-mute-button></vg-mute-button>
          <vg-volume-bar></vg-volume-bar>
        </vg-volume>
        <vg-fullscreen-button></vg-fullscreen-button>
      </vg-controls>
       -->
 
      <vg-overlay-play></vg-overlay-play>


    </videogular>

    <div class="comment_bar">
      <div class="add_comment">
        <input ng-model="newComment" class="comment_box" placeholder="Leave a comment here"></input>
        <button ng-click="submitComment" class="comment_submit">Submit</button>
      </div>
      <div class="heart">
        <i class="ion-heart"></i>
      </div>
    </div>

    <div class="comment" ng-repeat="comment in video.comments">
      <p class="add_comment"><span class="comment-username">{{ comment.username }}:</span> {{ comment.text }}</p>
    </div>
    <div class="comment">
      <p class="add_comment"><span class="comment-username">@bar:</span> omg squee</p>
    </div>

  </ion-content>

  <hr>
  <div class="tabs">
    <a class="tab-item long" ng-repeat="tag in video.tags">
      #{{ tag.text }}
    </a>
  </div>

</ion-view>
